@media (max-width: 900px) {
  header .nav__burger {
    display: block;
    cursor: pointer;
    z-index: 4;
    font-size: 2rem;
  }
  header .nav__burger .burger__line {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
    transition: transform 0.3s, opacity 0.3s;
  }
  header .nav .nav__burger.active .burger__line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  header .nav .nav__burger.active .burger__line:nth-child(2) {
    opacity: 0;
  }
  header .nav .nav__burger.active .burger__line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }
  header .nav__burger.active {
    font-size: 2rem;
  }
  header .nav__menu {
    display: none;
  }
  header .nav__menu.active {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
    position: fixed;
    background: black;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  header .nav__menu.active ul {
    display: block;
    list-style: none;
  }
  header .nav__menu.active ul a {
    font-size: 60px;
  }
  header .nav__menu.active ul li {
    margin-bottom: 45px;
    margin-left: 0px;
  }
  header .nav__search {
    display: none;
  }
  header .nav__LoginButton {
    margin-top: 40px;
    font-size: 65px;
    padding: 15px 60px;
    border-radius: 200px;
    border: none;
    color: #E43071;
  }
  .hero {
    height: 469px;
  }
  .two {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .two__imagesContainer:nth-child(1) {
    order: 1;
    /* Change order for the left item */
  }
  .two__text:nth-child(2) {
    order: 2;
    /* Change order for the right item */
  }
  .two__imagesContainer {
    padding: 20px 0;
  }
  .two__imagesContainer .img2 {
    position: absolute;
    top: 238px;
    left: 185px;
    width: 180px;
    height: 240px;
  }
  .two__imagesContainer .img1 {
    width: 240px;
    height: 250px;
  }
  .two__text {
    padding: 0 30px;
    max-width: 400px;
  }
  .three__text {
    max-width: 500px;
    margin: 0 auto;
  }
  .three__text h2 {
    font-size: 40px;
  }
  .four {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .four__imagesContainer:nth-child(2) {
    order: 1;
    /* Change order for the left item */
  }
  .four__text:nth-child(1) {
    order: 2;
    /* Change order for the right item */
  }
  .four__imagesContainer {
    grid-column: 1;
    margin-top: 57px;
    grid-column: 1;
    padding: 20px 0;
  }
  .four__imagesContainer .img1 {
    position: absolute;
    width: 180px;
    height: 250px;
    top: 32px;
    left: 168px;
  }
  .four__imagesContainer .img2 {
    width: 240px;
    height: 250px;
  }
  .four__text {
    max-width: 400px;
    padding: 0 30px;
  }
  .four__text h2 {
    margin-bottom: 10px;
    line-height: 30px;
  }
  .five__gridContainer {
    grid-template-columns: 1fr;
  }
  .five__item {
    grid-column: 1;
  }
  .five__item1, .five__item4 {
    transform: none;
  }
  .six {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .six__textContainer {
    padding: 50px;
    margin: 0;
  }
  .six__description {
    line-height: 30px;
    max-width: 300px;
  }
  .six__imgContainer .app2 {
    margin: 0;
  }
  .six__overlay {
    width: 72%;
  }
  .six__overlayText h3 {
    margin: 0;
    font-size: 14px;
  }
  .six__overlayText h3 p {
    font-size: 7px;
    line-height: 13px;
  }
  .six__overlayImg {
    padding: 0;
  }
  .six__overlayImg .img2 {
    top: 63px;
    left: 39px;
    height: 110px;
    width: 87px;
  }
  .six__imgContainer--app2 {
    top: 50px;
  }
  .social__circle {
    padding: 20px;
  }
  .footer {
    padding: 50px 10px;
  }
  .footer__grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .footer__last {
    flex-direction: column;
  }
  .footer__last--list ul li {
    margin-left: 4px;
    font-size: 12px;
  }
}
/* Tablet styles */
@media (max-width: 970px) {
  .two {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  .two__imagesContainer:nth-child(1) {
    order: 1;
    /* Change order for the left item */
  }
  .two__text:nth-child(2) {
    order: 2;
    /* Change order for the right item */
  }
  .two__imagesContainer .img2 {
    position: absolute;
    top: 238px;
    left: 185px;
    width: 180px;
    height: 240px;
  }
  .two__imagesContainer .img1 {
    width: 240px;
    height: 250px;
  }
}/*# sourceMappingURL=resposnive.css.map */