



$primary-color: #E43071;
$secondary-color: #fff;
$third-color:#FFC1D8;
$forth-color: #BE285E;



* {
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        color: $secondary-color;
    }

    button {
        cursor: pointer;

    }
}

body {
    font-family: 'Poppins', sans-serif;

}

button {
    padding: 20px 45px;
    border-radius: 200px;
    border: none;
    color: $primary-color;


}

///////////////////////////////////////////////////////////////////////////////////////////////////////



///////////////////////////////////////////////////////////////////////////////////////////////////////



/* Hero Section Styles */
.swiper-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Ensure the slides stay within the container */
    

   
  
 
}
  
  .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

   
    
  }
  
  
  .hero__text {
    font-size: 3rem;
    text-align: center;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
        font-weight: 800;

        span {
            color: #FFC1D8;

        }
    
  }
  
  .hero__buttonContainer {
    margin-top: 1rem;
  }
  
  .hero__button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease all;
  
    &:hover {
      background-color: $forth-color;
      transition: 0.4s ease all;

      
    }
  }
  
  /* Swiper Pagination Styles */
  .swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 1;
  }
  
  .slide-content::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='35' viewBox='0 0 1440 35' fill='none'%3E%3Cpath d='M0 14.0112C0 14.0112 412.629 -12.7579 720 14.0112C1027.37 40.7803 1440 0.558594 1440 0.558594V34.5586H0' fill='white'/%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    z-index: -1; /* Place behind the content */
  }
  
///////////////////////////////////////////////////////////////////////////////////////////////////////

.two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    position: relative;

    &__imagesContainer {
        padding-top: 100px;

        .img1 {
            width: 347px;
            height: 399px;

        }

        .img2 {
            position: absolute;
            top: 196px;
            left: 235px;
            width: 241px;
            height: 359px;
        }
    }

    &__text {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h2 {
            margin-bottom: 10px;
            line-height: 37px;
            color: $primary-color;
            
        }

    }
    &__buttonContainer{
        margin-top: 20px;

    }       


    &__button {

        position: relative;
        border: solid $primary-color;
        padding: 15px 60px;
    font-size: 1rem;
    cursor: pointer;
        background-color: #fff;
        transition: border 0.3s ease  ;


        a{
            color: $primary-color;
            transition: color 0.4s ease all;

            
        }
        &:hover{
            transition: 0.4 ease all ;
            border: solid $forth-color ;

            a{
                color: $forth-color;
                // font-weight: bolder;
            }


        }
        &:focus{
            transition: 0.4 ease all ;
            box-shadow: 0 0 10px  $third-color;


        }
        &::before {
            content: ''; /* Create an empty content */
            position: absolute;
            top: 50%; /* Vertically center the circle */
            left: 50%; /* Horizontally center the circle */
            transform: translate(-50%, -50%); /* Center the circle precisely */
            width: 10px; /* Adjust the circle's size */
            height: 10px;
            background-color: $third-color; /* Circle color */
            border-radius: 50%; /* Create a circle shape */
            transition: opacity 0.3s ease; /* Transition for circle visibility */
            opacity: 0; /* Initially hide the circle */
        }
        
        &:active {
            &::before {
                opacity: 1; /* Show the circle when the button is active/clicked */
            }
        }


    }
}
.three {
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
   
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__text {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        color: #fff;


        h2 {
            font-size: 50px;
            margin-bottom: 10px;

        }

        p {
            margin-bottom: 10px;


        }
    }

    button {
        background-color: $primary-color;
        color: $secondary-color;
        transition: background-color 0.3s ease all;
  
    &:hover {
      background-color: $forth-color;
      transition: 0.4s ease all;

      
    }
    &:focus{
        transition: 0.4 ease all ;
        box-shadow: 0 0 10px  $third-color;


    }

    }

   
    
}

///////////////////////////////////////////////////////////////////////////////////////////////////////

.four {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;

    height: 100vh;
    margin: 0 auto;
    position: relative;



    &__imagesContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        .img1 {
            position: absolute;

            width: 301px;
            height: 359px;
            top: 100px;
            left: 600px;

        }

        .img2 {

            width: 347px;
            height: 399px;
        }
    }

    &__text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 500px;

        h2 {
            margin-bottom: 10px;
            line-height: 37px;
            color: $primary-color;

        }

    }

    button {

        border: solid $primary-color;
        color: $primary-color;
        margin-top: 20px;
        background-color: #fff;
        transition: border 0.3s ease  ;


        a{
            color: $primary-color;
            transition: color 0.4s ease all;

            
        }
        &:hover{
            transition: 0.4 ease all ;
            border: solid $forth-color ;

            a{
                color: $forth-color;
                // font-weight: bolder;
            }


        }
        &:focus{
            transition: 0.4 ease all ;
            box-shadow: 0 0 10px  $third-color;


        }
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////

.five {
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%), $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;





    &__gridContainer {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
    }

    &__item {
        border-radius: 10px;
        background: #FFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        ;

    }

    &__item-column2 {
        box-shadow: none;
        width: fit-content;

        grid-column: 2;
        background: transparent;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: self-start;
    }

    &__item1 {
        grid-column: 1;
        width: 349px;
    }

    &__item1,
    &__item4 {
        transform: translateY(80px);

    }

    &__item2 {
        grid-column: 2;
        width: 350px;
        margin-bottom: 0;
    }

    &__item3 {
        grid-column: 2;
        width: 270px;
        margin-bottom: 80px;
    }

    &__item4 {
        background: transparent;
        grid-column: 1;
        box-shadow: none;
        padding: 0;
        color: #424242;


        h1 {
            font-size: 40px;
        }
    }







    &__itemHeader {
        color: $primary-color;
        font-weight: 600;
        font-size: 30px;
        padding: 0 30px;
        margin: 20px 0 12px 0;




    }

    &__itemText {
        color: #424242;
        font-weight: 400;
        padding: 0 60px;


    }

    span {

        color: #F8C5D7;
        display: flex;
        height: 24px;
        padding-left: 30px;
        font-family: Times New Roman;
        font-size: 58px;
        font-style: normal;
        font-weight: 700;
    }

    &__cardCustomer {
        display: flex;
        padding: 0 60px;
        margin-top: 17px;
        // box-shadow: 0px 0px 50px 0px $primary-color;



        &--img {
            img {
                width: 59px;
                height: 57px;
                border-radius: 50%;
                margin-right: 10px;


            }


        }

        &--text {}
    }


}

.six {
    background: #E43071;
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 491px;

    &__textContainer {
        color: $secondary-color;
        padding: 100px 0;
        margin-left: 50px;
    }


    &__header {
        margin-bottom: 10px;

    }

    &__description {
        margin-bottom: 10px;
        line-height: 37px;
        max-width: 400px;

    }

    span {
        color: rgba(255, 255, 255, 0.60);

    }

    &__downloadImgs {
        margin-top: 15px;


    }

    &__appImgs {
        display: flex;

    }

    &__imgContainer {
        position: relative;
        display: inline-block;


        img {
            max-width: 100%;
            background: $secondary-color;
            border-radius: 44px;

        }

        .app2 {
            margin-left: 15px;
            position: relative;
            border-radius: 34px;
        }



    }

    &__imgContainer--app1 {
        top: -45px;


    }

    &__imgContainer--app2 {
        top: 108px;


    }

    &__overlay {
        position: absolute;
        top: 35px;
        left: 31px;
        width: 80%;
        height: 51%;
        border-radius: 18px;
        background-color: #fff;
        z-index: 1;
        /* Place the overlay above the image */
    }

    &__overlayImg {
        padding: 10px;



        .img1 {
            height: 150px;
            border-radius: 0px;
            width: 100px;

        }

        .img2 {
            position: absolute;
            top: 49px;
            left: 66px;
            height: 150px;
            width: 100px;
            border-radius: 0px;
        }


    }

    &__overlayText {
        margin-top: 20px;
        padding: 10px;



        h3 {
            margin-bottom: 10px;
            font-size: 21px;
            color: $primary-color;

        }

        p {
            font-size: 10px;
            line-height: 17px;
            color: #424242;


        }

    }



}

.social {
    background: #EDEDED;
    padding: 50px;

    h1 {
        text-align: center;
        color: $primary-color;
        margin-bottom: 20px;
        font-size: 40px;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__circle {
        border-radius: 50%;
        padding: 34px;
        background-color: #ffffff;
        margin-left: 50px;

        &:hover{
            box-shadow: 0 0 10px  $forth-color;
            transition: 0.4s ease all;




        }

    }
}



